body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 60px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #35b8be;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #191b22;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #08090a;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.03em;
}
button:disabled {
  background-color: gray;
}
p {
  margin-bottom: 10px;
  color: #546285;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
#selectCalificador {
  width: 60px;
  height: 40px;
  margin: 30px;
}
#reservasConfirmadas {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.nav-link {
  padding-right: 16px;
  padding-left: 16px;
  opacity: 0.8;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #28224b;
  font-size: 16px;
  text-transform: none;
}

.card-confirmadas {
  background-color: #c1ecbd;
  width: 70%;
  margin: 30px auto;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.navigation-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-link:hover {
  opacity: 1;
  color: #28224b;
}

.nav-link.w--current {
  color: #35b8be;
}

.button.button-space {
  margin-top: 40px;
}

.container-flex {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-image-wrap {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
}

.hero-h1 {
  max-width: 580px;
  margin-bottom: 20px;
  color: #08090a;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-link {
  margin-bottom: 12px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  color: #546285;
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: #28224b;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  color: #35b8be;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

/* nuevo */
button {
  cursor: pointer;
}

.button {
  min-height: 60px;
  padding: 20px 35px;
  border-radius: 6px;
  background-color: #35b8be;
  background-image: url("../images/Button-Wave.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-size: 18px;
  color: white;
  text-align: center;
}

.button:hover {
  background-color: #2faeb4;
}

.btn-reservas {
  display: flex;
  min-height: 45px;
  justify-content: center;
  border-radius: 6px;
  background-color: #35b8be;
  color: white;
  border-color: transparent;
  cursor: pointer;
}
.btn {
  min-width: 40px;
  height: 40px;
  color: white;
  border-color: transparent;
  cursor: pointer;
  border-radius: 6px;
  background-color: #2faeb4;
}
.btn a {
  text-decoration: none;
  color: white;
}

#nav-usuario {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.confirmar {
  width: 100px;
  background-color: #35b8be;
}
.cancelar {
  background-color: red;
  width: 100px;
}
.img-hero {
  width: auto;
  height: 40vh;
}
.margins {
  min-height: 420px;
  padding: 100px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5fbfc;
}

/* Modal */
#cruce {
  cursor: pointer;
  font-size: 30px;
}
#cruce2 {
  cursor: pointer;
  font-size: 30px;
}
.open {
  width: 70%;
  height: 70vh;
  margin: auto;
  display: flex;
  visibility: visible;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #011226e6;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.close {
  display: none;
  visibility: hidden;
}

.error {
  color: red;
  font-size: 20px;
}
.txt-correcto {
  color: green;
  font-size: 20px;
}

.modalTitle {
  color: white;
}
.content-hidden {
  display: none;
  visibility: hidden;
}
*/ .view-user {
  display: flex;
  visibility: visible;
}

.not-view-user {
  display: none;
  visibility: hidden;
}

.advertencia {
  color: red;
}

.brand-span {
  color: #35b8be;
}

.review-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: start;
  align-items: flex-start;
  white-space: nowrap;
}

.review-logo {
  margin-right: 16px;
  margin-bottom: 10px;
}

.review-text {
  color: #08090a;
  font-size: 16px;
}

.content-section {
  position: relative;
  padding: 120px 3%;
  background-color: transparent;
}

.content-grid {
  grid-column-gap: 44px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-block {
  display: flex;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title-wrap-centre {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 670px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.works-grid {
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
  grid-template-columns: 1fr 0.3fr 1fr 0.3fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.step-image {
  margin-bottom: 40px;
}

.cart-button {
  position: relative;
  min-height: 55px;
  min-width: 55px;
  padding: 13px;
  border-radius: 4px;
  background-color: #35b8be;
  background-image: url("../images/Button-Wave.svg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  font-size: 18px;
  text-align: center;
}

.cart-quantity {
  position: absolute;
  left: auto;
  top: -6px;
  right: -6px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  min-width: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 7px 7px 25px 0 rgba(126, 130, 143, 0.27);
  color: #35b8be;
  font-size: 13px;
}

.card {
  /* background-color: #28224b; */
  display: flex;
  min-height: 200px;
  padding: 25px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(53, 184, 190, 0.15);
  border-radius: 6px;
  background-color: #fff;
  -webkit-transition: border-color 300ms ease;
  transition: border-color 300ms ease;
}

.estrellas {
  width: 100%;
  height: auto;
  color: #35b8be;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-textos {
  width: 80%;
  padding: 30px;
  margin: 0px auto;
}

.imagen {
  width: 20vw;
  height: 100%;
}
.imagen-reservas {
  width: 200px;
  height: 130px;
}

.header {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 100px 3% 140px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/BG-Shape.svg");
  background-position: 100% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

.content-section-bg {
  position: relative;
  padding: 140px 3%;
  background-color: transparent;
  background-image: url("../images/BG-Shape-Content.svg");
  background-position: 50% 50%;
  background-size: 96% 90%;
  background-repeat: no-repeat;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 3%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navigation-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.image-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 100px 3% 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5fbfc;
  background-image: url("../images/Pattern-Footer.svg");
  background-position: 0% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}

.footer-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

input {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  border-color: gray;
  margin: 10px 0px;
}

.reservas {
  font-size: 30px;
  line-height: 5vh;
  list-style: none;
  border-bottom: 3px solid gray;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#select {
  width: 80px;
  height: 30px;
}
